<form (ngSubmit)="onHandleSubmit()" [formGroup]="roomForm">
    <div class="mb-3">
        <input
            type="text"
            formControlName="name"
            class="form-control"
            [value]="room.name"
            placeholder="Tên sản phẩm"
        />
    </div>
    <div class="mb-3">
        <input
            type="number"
            formControlName="price"
            class="form-control"
            placeholder="Giá sản phẩm"
        />
    </div>
    <div class="mb-3">
        <input
            type="text"
            formControlName="img"
            class="form-control"
            placeholder="Ảnh sản phẩm"
        />
    </div>
    <div class="mb-3">
        <input
            type="text"
            formControlName="description"
            class="form-control"
            placeholder="Mô Tả sản phẩm"
        />
    </div>

    <div class="mb-3">
        <!-- <select name="" id="">
            <option value="-- chọn --"></option>
        </select> -->
        <select [(ngModel)]="selectedValue" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category._id" >{{ category.name }}</option>
          </select>          
    </div>
    {{ room | json }}
    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
</form>
