<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-4 mb-4">Welcome to Hotel Name</h1>
        <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cum esse ipsam
          praesentium veniam, earum accusantium voluptate id fugit vitae ut placeat consequuntur culpa autem eum. Quam,
          ipsa? Tenetur voluptatibus sequi eos consequatur aliquid natus perspiciatis animi molestiae veniam, porro nemo
          dolorem iste rerum dolor earum asperiores unde necessitatibus omnis. Illo impedit voluptatum voluptatem
          facilis, quia odio similique, voluptates aspernatur totam necessitatibus nostrum? Odit rem sint reiciendis
          vitae ut numquam perspiciatis obcaecati, porro optio ratione ducimus voluptate, temporibus quae veniam
          explicabo libero placeat at aliquam est nulla saepe. Perferendis ea magni, eum aspernatur saepe ab esse vel
          impedit nesciunt reprehenderit.</p>
        <a href="room" class="btn btn-primary">Đặt Phòng Ngay</a>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0">
        <img
          src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/392170972.jpg?k=dee0c000aa1d41881524baa1dc1110dcfba3846c33d8ab9a2be28d2633cf0024&o=&hp=1"
          alt="Hotel Image" class="img-fluid rounded">
      </div>
    </div>
  </div>
</section>