<body>
  <div class="d-flex">
    <!-- Sidebar -->
    <div class="bg-dark text-light" style="width: 250px;">
      <h4 class="p-3">Admin Dashboard</h4>
      <ul class="list-unstyled">
        <li class="p-3">
          <a routerLink="dashboard" class="text-light">Dashboard</a>
        </li>
        <li class="p-3">
          <a routerLink="room" class="text-light">Room</a>
        </li>
        <li class="p-3">
          <a routerLink="categories" class="text-light">Categories</a>
        </li>
      </ul>

    </div>

    <!-- Main content -->
    <div class="flex-grow-1 p-5">
      <main>
        <router-outlet />
      </main>
    </div>
  </div>