
<div class="container">
    <table class="table table-borederd">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>email</th>
          <th>PassWord</th>
        </tr>
      </thead>
      <tbody *ngIf="users && users.length">
        <tr *ngFor="let user of users; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name}}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password}}</td>

          <td>
            <button class="btn btn-danger mr-1" (click)="removeUser(user.id)">
              Xóa
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>