<form (ngSubmit)="onHandleSubmit()" [formGroup]="roomForm">
    <div class="m-3 text-capitalize">
        <h2>Add new room</h2>
    </div>
    <div class="mb-3">
        <input
            type="text"
            formControlName="name"
            class="form-control"
            placeholder="Room name"
        />
    </div>
    <div class="mb-3">
        <input
            type="number"
            formControlName="price"
            class="form-control"
            placeholder="Room Price"
        />
    </div>
    <div class="mb-3">
        <input
            type="text"
            formControlName="img"
            class="form-control"
            placeholder="Room image"
        />
    </div>
    <div class="mb-3">
        <input
            type="text"
            formControlName="description"
            class="form-control"
            placeholder="Description"
        />
    </div>
    <div class="mb-3">
        <!-- <select name="" id="">
            <option value="-- chọn --"></option>
        </select> -->
        <select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let category of categories" [value]="category._id" >{{ category.name }}</option>
          </select>          
    </div>
    <!-- {{ room | json }} -->
    <button type="submit" class="btn btn-primary text-black-50 hover:text-white-50">Submit</button>
</form>
